body {
    background-image: url("http://previews.123rf.com/images/pdreams/pdreams1210/pdreams121000004/15953097-mathematic-school-design-background-illustration-Stock-Illustration-math-background-mathematics.jpg");
    background-size: cover;
}

#values {
    text-align:center;
    
}

#input1{
    font-size:40pt;
}

#dropdown{
    font-size:40px;
}

#input2{
    font-size:40pt;
}

#submitButton{
    font-size:20pt;
    width:360px;
}

#sqrt{
    text-align:justify;
    font-family:"verdana";
    font-size:21pt;
}

#answer{
    text-align:center;
    font-size:40pt;
}