body {
    background-image:url("http://s1.dmcdn.net/Aj7lN/1280x720-GAf.jpg");
    background-size:cover;
    text-align:center;
    font-family:arial;
}

#BraveFrontier {
    text-align:center;
}

#Deemo {
    text-align:center;
}

#Colopl {
    text-align:center;
}

#Osu {
    text-align:center;
}

#Danmaku {
    text-align:center;
}

#danmaku {
    height:300px;
    width:300px;
}